<header class="sub-header group">
  <div class="sub-logo"><%= link_to image_tag('small-logo.png', alt: 'Camp Colorado'), root_path %></div>
  <nav class="nav">
    <ul>
      <li><%= link_to "Find a campsite", root_path %></li>
      <li><%= link_to "Things to bring", page_path('things_to_bring') %></li>
      <li><%= link_to "Acivity guide", page_path('activity_guide') %></li>
      <li><%= link_to "Camping tips", page_path('camping_tips') %></li>
    </ul>
  </nav>
</header>

<div class="coming-soon">We're gathering this information for you. Check back soon!</div>