<section class="container">
  <header class="header">
    <div class="logo"><%= link_to image_tag('logo.png', alt: 'Camp Colorado'), root_path %></div>
    <div class="intro-text">Find your camp site. Find yourself. Discover Nature.</div>
  </header>
  <%= form_for @search, url: search_path, method: :get do |f| %>
    <section class="enter-search group">
      <div class="search-criteria first">
        <h3><%= f.label :site_type, "I'm looking for:" %></h3>
        <%= select :search, :site_type, @search.possible_site_types, {}, class: 'selection' %>
      </div>

      <div class="search-criteria">
        <h3><%= f.label :activity_ids, "It'd be fun to go:" %></h3>
        <%= collection_select :search, :activity_ids, Activity.all, :id, :name, {},
          multiple: true, class: 'selection' %>
      </div>

      <div class="search-criteria">
        <h3><%= f.label :amenity_ids, 'I need these accomodations:' %></h3>
        <%= collection_select :search, :amenity_ids, Amenity.all, :id, :name, {},
          multiple: true, class: 'selection' %>
      </div>

      <div class="search-criteria no-border"><%= f.submit 'Submit' %></div>
    </section>
  <% end %>
</section>
<footer class="footer">here</footer>
