<section class="container">
  <header class="header">
    <div class="logo"><%= link_to image_tag('logo.png', alt: 'Camp Colorado'), root_path %></div>
    <div class="intro-text">Find your camp site. Find yourself. Discover Nature.</div>
  </header>
    <section class="enter-search group">
      <%= form_for @search, url: search_path, method: :get, remote: true do |f| %>
        <div class="search-criteria first">
          <h3><%= f.label :site_type_ids, "I'm looking for:" %></h3>
          <%= collection_select :search, :site_type_ids, SiteType.order(:name), :id, :name, {},
            multiple: true, class: 'selection' %>
        </div>

        <div class="search-criteria">
          <h3><%= f.label :activity_ids, "It'd be fun to go:" %></h3>
          <%= collection_select :search, :activity_ids, Activity.order(:name), :id, :name, {},
            multiple: true, class: 'selection' %>
        </div>

        <div class="search-criteria">
          <h3><%= f.label :amenity_ids, 'I need these accomodations:' %></h3>
          <%= collection_select :search, :amenity_ids, Amenity.order(:name), :id, :name, {},
            multiple: true, class: 'selection' %>
        </div>

        <div class="search-criteria">
          <h3>On these dates:</h3>
          <div class="group">
            <div class="field">
              <input type="text" class="txt-fld" placeholder="Select a date">
            </div>
            <div class="field to">to</div>
            <div class="field">
              <input type="text" class="txt-fld" placeholder="Select a date">
            </div>
          </div>
        </div>
      <% end %>
      <section id="search-results"><%= render @search %></section>
    </section>
</section>

<footer class="footer group">
  <div class="copyright">2013 - All Rights Reserved</div>
  <div class="thoughtbot">Built in Denver with <span class="heart">&hearts;</span> by <a href="http://www.thoughtbot.com" target="_blank">thoughtbot</div>
</footer>
