<header class="sub-header group">
  <div class="sub-logo"><%= link_to image_tag('small-logo.png', alt: 'Camp Colorado'), root_path %></div>
  <nav class="nav">
    <ul>
      <li><%= link_to "Find a campsite", root_path %></li>
      <li><a href="#">Things to bring</a></li>
      <li><a href="#">Activity guide</a></li>
      <li><a href="#">Camping tips</a></li>
    </ul>
  </nav>
</header>

<section class="breadcrumb">
  <ul>
    <li><%= link_to "find a campground", root_path %></li>
    <li>/</li>
    <li><%= @campsite.name %></li>
  </ul>
</section>

<div class="campsite-wrapper group">
  <section class="campsite-container">
    <div class="group">
      <h3 class="sub-heading"><%= @campsite.name %></h3>
      <%= link_to 'make reservation', @campsite.reservation_url, class: 'make-reservation' %>
    </div>
    <p><%== @campsite.description %></p>

    <section class="carousel">carousel will go here, bootstrap</section>

    <section class="camp-features">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#amenities" data-toggle="tab">Amenities</a></li>
        <li><a href="#recreation" data-toggle="tab">Recreation</a></li>
        <li><a href="#site_options" data-toggle="tab">Site Options</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="amenities">
          <div class="column-wrap group">
            <% each_column(@campsite.amenities, 3) do |amenities| %>
              <nav class="column">
                <ul>
                  <% amenities.each do |amenity| %>
                    <li><%= amenity.name %></li>
                  <% end %>
                </ul>
              </nav>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="recreation">
          <div class="column-wrap group">
            <% each_column(@campsite.activities, 3) do |activities| %>
              <nav class="column">
                <ul>
                  <% activities.each do |activity| %>
                    <li><%= activity.name %></li>
                  <% end %>
                </ul>
              </nav>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="site_options">
          <div class="column-wrap group">
            <% each_column(@campsite.site_types, 3) do |site_options| %>
              <nav class="column">
                <ul>
                  <% site_options.each do |site_option| %>
                    <li><%= site_option.name %></li>
                  <% end %>
                </ul>
              </nav>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="campsite-sidebar">
  <div class="mapview">
    <img src="<%= static_map_url(@campsite) %>" alt="Map">
  </div>
    <div class="overview-information">
      <ul>
        <li><%= @campsite.street_address %><br><%= @campsite.city_state_zip %></li>
      </ul>
    </div>
      <div class="contact-information group">
        <div class="left">
          <ul>
            <li><%= @campsite.phone_number %></li>
          </ul>
        </div>
      </div>
  </section>
</div>
